
.icon-power-outline:before { content: '\e800'; } /* '' */
.icon-home-outline:before { content: '\e801'; } /* '' */
.icon-bell:before { content: '\e802'; } /* '' */
.icon-trash-empty:before { content: '\e803'; } /* '' */
.icon-calendar:before { content: '\e804'; } /* '' */
.icon-plus-outline:before { content: '\e805'; } /* '' */
.icon-plus-circle:before { content: '\e806'; } /* '' */
.icon-arrows-cw-outline:before { content: '\e807'; } /* '' */
.icon-ok-outline:before { content: '\e808'; } /* '' */
.icon-help-circled-alt:before { content: '\e809'; } /* '' */
.icon-attach-1:before { content: '\e80a'; } /* '' */
.icon-search:before { content: '\e80b'; } /* '' */
.icon-attach:before { content: '\e80c'; } /* '' */
.icon-search-outline:before { content: '\e80d'; } /* '' */
.icon-hourglass:before { content: '\e811'; } /* '' */
.icon-gplus-circled:before { content: '\f059'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-hourglass-o:before { content: '\f250'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */