@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?15857730');
  src: url('../font/fontello.eot?15857730#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?15857730') format('woff2'),
       url('../font/fontello.woff?15857730') format('woff'),
       url('../font/fontello.ttf?15857730') format('truetype'),
       url('../font/fontello.svg?15857730#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?15857730#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-power-outline:before { content: '\e800'; } /* '' */
.icon-home-outline:before { content: '\e801'; } /* '' */
.icon-bell:before { content: '\e802'; } /* '' */
.icon-trash-empty:before { content: '\e803'; } /* '' */
.icon-calendar:before { content: '\e804'; } /* '' */
.icon-plus-outline:before { content: '\e805'; } /* '' */
.icon-plus-circle:before { content: '\e806'; } /* '' */
.icon-arrows-cw-outline:before { content: '\e807'; } /* '' */
.icon-ok-outline:before { content: '\e808'; } /* '' */
.icon-help-circled-alt:before { content: '\e809'; } /* '' */
.icon-attach-1:before { content: '\e80a'; } /* '' */
.icon-search:before { content: '\e80b'; } /* '' */
.icon-attach:before { content: '\e80c'; } /* '' */
.icon-search-outline:before { content: '\e80d'; } /* '' */
.icon-hourglass:before { content: '\e811'; } /* '' */
.icon-gplus-circled:before { content: '\f059'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-hourglass-o:before { content: '\f250'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */